@font-face {
  font-family: 'lawicons';
  src:  url('fonts/lawicons.eot?y3bk9d');
  src:  url('fonts/lawicons.eot?y3bk9d#iefix') format('embedded-opentype'),
    url('fonts/lawicons.ttf?y3bk9d') format('truetype'),
    url('fonts/lawicons.woff?y3bk9d') format('woff'),
    url('fonts/lawicons.svg?y3bk9d#lawicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="lawicon-"], [class*=" lawicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lawicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lawicon-book:before {
  content: "\e900";
}
.lawicon-paper:before {
  content: "\e901";
}
.lawicon-finance:before {
  content: "\e902";
}
.lawicon-people:before {
  content: "\e903";
}
.lawicon-scale:before {
  content: "\e90d";
}
.lawicon-stamp:before {
  content: "\e90e";
}
.lawicon-hammer:before {
  content: "\e90f";
}
